<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sunt minima eaque dolorum impedit, debitis voluptate provident. Earum totam, magni, odit commodi est saepe adipisci vel rerum eveniet voluptas, deleniti quam! Voluptas aliquid qui sequi recusandae dicta sapiente illo nostrum beatae minima animi, accusantium distinctio debitis iure atque reiciendis fuga. Rem quae totam molestias alias nam quidem! Aut non nihil doloremque mollitia dicta voluptatibus nam est iusto porro pariatur aliquid iure dolor sed adipisci praesentium quas ex blanditiis quos, perspiciatis eos iste rem. Suscipit blanditiis nihil voluptate voluptatibus a officiis eveniet maxime saepe, quae enim perspiciatis pariatur, recusandae quaerat quod.</p>
        <h1>Welcome : {{ username }}</h1>
        <input type="button" value="Test" id="btn" onclick="greet()">
    </div>
    <script src="/static/index.js"></script>
</body>
</html>